@import "../styles/variables.scss";

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-title {
    @include title-underline;
  }

  &-image {
    padding: 50px;

    & img {
      max-width: 250px;
      border-radius: 7px;
    }
  }
  &-info {
    max-width: 950px;
    font-size: 22px;
    padding: 0 40px;
  }
  &-wordArray {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    width: 300px;
    padding-left: 50px;
    &Animation {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 50px;
      justify-content: flex-start;
      width: 250px;
      font-size: 25px;
      font-weight: 400;

      &Words {
        padding-left: 10px;
        color: rgba(44, 82, 141, 0.9);
      }
    }
  }
}
