@use "/src/styles/variables.scss" as v;

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &--title {
    @include v.title-underline;
  }

  &--image {
    padding: 50px;

    & img {
      max-width: 250px;
      border-radius: 7px;
    }
  }
  &--info {
    max-width: 950px;
    font-size: 22px;
    padding: 0 40px;
  }
  &--word-array {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    width: 100%;
    padding-left: 130px;
    &-animation {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 110px;
      justify-content: flex-start;
      width: 330px;
      font-size: 27px;
      font-weight: 400;
      padding-top: 60px;

      &-words {
        padding-left: 10px;
      }
    }
  }
  &--logos {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-top: 70px;
    &-image {
      width: 50px;
      height: 50px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin: 10px;
    }
  }
}
