@use "/src/styles/variables.scss" as v;

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: v.$main-font-family;
  font-weight: bold;
  margin-bottom: 200px;

  &-title {
    @include v.title-underline;
  }

  .contact--form {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 470px;

    input[type="text"],
    input[type="email"] {
      border: none;
      border: 2px solid v.$dark-gray;
      border-radius: 5px;
      padding: 15px;
      outline: none;
      margin: 10px 0 18px 0;
      font-family: v.$main-font-family;
      font-size: 15px;
      box-shadow: 3px 10px 10px -3px lightgray;
    }

    &-text-area {
      border: none;
      border: 2px solid v.$dark-gray;
      border-radius: 5px;
      margin: 10px 0 25px;
      padding: 15px;
      outline: none;
      font-family: v.$main-font-family;
      font-size: 15px;
      max-height: 70px;
      resize: none;
      box-shadow: 3px 10px 10px -3px lightgray;
    }

    &-button {
      background-color: transparent;
      border: 2px solid v.$secondary-blue;
      cursor: pointer;
      color: black;
      padding: 7px 5px 6px;
      border-radius: 5px;
      font-family: v.$main-font-family;
      font-size: 17px;
      max-width: 70px;
      transition: 0.3s ease-in-out;

      &:hover {
        color: black;
        border: 2px solid black;
      }

      &:disabled {
        border: 2px solid v.$light-gray;
        color: v.$light-gray;
        cursor: not-allowed;
      }
    }
    &-succes-message {
      color: darkblue;
      padding: 10px 0px;
    }

    &-error-message {
      color: red;
      padding: 10px 0px;
    }

    @media screen and (max-width: 900px) and (min-width: 461px) {
      width: 45%;
    }
    @media only screen and (max-width: 460px) {
      width: 60%;
    }
  }
}
