@import "../styles/variables.scss";

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $main-font-family;
  font-weight: bold;
  margin-bottom: 200px;

  &-title {
    position: relative;
    text-decoration: none;
    margin-bottom: 75px;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      left: 26%;
      width: 290px;
      height: 4px;
      margin-left: -122px;
      background-color: lightgray;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 400px;

    input[type="text"],
    input[type="email"] {
      border: none;
      // border-bottom: 4px solid $light-blue;
      border: 2px solid $light-blue;
      border-radius: 25px;

      padding: 10px;
      outline: none;
      margin: 10px 0 18px 0;
      font-family: $main-font-family;
      font-size: 15px;
    }

    &-textArea {
      border: none;
      // border-bottom: 4px solid $light-blue;
      border: 2px solid $light-blue;
      border-radius: 25px;
      margin: 10px 0 18px;
      padding: 10px;
      outline: none;
      font-family: $main-font-family;
      font-size: 15px;
      max-height: 60px;
      resize: none;
    }

    &-button {
      background-color: transparent;
      border: 2px solid $light-blue;
      cursor: pointer;
      color: black;
      padding: 7px 5px 6px;
      border-radius: 25px;
      font-family: $main-font-family;
      font-size: 17px;
      max-width: 70px;
      transition: 0.3s ease-in-out;

      &:hover {
        color: $light-blue;
        border: 2px solid grey;
      }

      &:disabled {
        border: 2px solid grey;
        color: grey;
        cursor: not-allowed;
      }
    }
    &-successMessage {
      color: darkgreen;
      padding: 10px 15px;
    }

    &-errorMessage {
      color: red;
      padding: 10px 15px;
    }
  }
}
