@import "../styles/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 70px;

  &-title {
    margin-bottom: 15px;
    position: relative;
    text-decoration: none;
    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: -3px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      background-color: $dark-gray;
    }
    &:hover::after {
      width: 100%;
      left: 0;
    }
    & a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &-links {
    display: flex;
    align-items: center;
  }

  &-link {
    margin: 10px;
    border-radius: 12px;
    overflow: hidden;
    background-color: antiquewhite;
    display: flex;
    max-width: 50px;
    max-height: 50px;
    justify-content: center;
    transition: 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &_image {
      max-width: 88%;
    }
  }

  &-info {
    padding-top: 30px;
    font-size: 15px;
  }
}
