@import "../styles/variables.scss";

.header {
  padding: 150px;
  font-family: $main-font-family;
  height: 100vh;
  // background-color: aliceblue;

  // background: linear-gradient(
  //   45deg,
  //   aliceblue 39%,
  //   rgba(174, 197, 235, 0.5) 20%
  // );

  &-intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;

    &-title {
      font-size: 100px;
      font-weight: 500;
    }
    &-body {
      padding: 20px;
      max-width: 700px;
      text-align: center;
      font-size: 30px;
      font-weight: lighter;
    }
  }
}
