.projectCard {
  flex-basis: 25%;
  background-color: lightblue;
  padding: 10px 10px 40px 10px;
  margin: 7px;
  border-radius: 5px;
  min-width: 350px;
  box-shadow: 0px 3px 8px 4px rgb(215, 235, 240);
  transition: 500ms ease-in-out;

  &_isSelected {
    transform: scale(1.1);
    min-width: 450px;

    .projectCard-image {
      min-height: 350px;
    }
  }

  &-image {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 250px;
    background-size: cover;
    transition: 500ms ease-in-out;
  }
}
