@use "/src/styles/variables.scss" as v;

.projectCardInfo {
  padding: 0 10px;
  font-size: 16px;
  &-view {
    position: relative;
    text-decoration: none;
    font-weight: initial;
    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: -3px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      background-color: v.$light-gray;
    }
    &:hover::after {
      width: 100%;
      left: 0;
    }
  }
}
