.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 20px;
    width: 80%;
    list-style: none;
  }
  &-mainTitle {
    text-align: center;
  }
}
