@import "../styles/variables.scss";

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  &-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 20px;
    width: 80%;
    list-style: none;
  }
  &-mainTitle {
    text-align: center;
    position: relative;
    text-decoration: none;
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -30px;
      left: 30%;
      width: 290px;
      height: 4px;
      margin-left: -122px;
      background-color: $dark-gray;
    }
  }
}
