@import "../styles/variables.scss";

.projectCard {
  flex-basis: 25%;
  background-color: white;
  padding: 10px 10px 30px 10px;
  margin: 20px;
  min-width: 260px;
  box-shadow: 3px 10px 10px 5px $light-gray;
  transition: 500ms ease-in-out;
  cursor: pointer;

  @media only screen and (max-width: 460px) {
    min-width: 250px;
  }

  &:hover {
    transform: scale(1.08);
  }

  &_isSelected {
    transform: scale(1.08);
    min-width: 350px;

    @media only screen and (max-width: 460px) {
      transform: scale(1.06);
      min-width: 320px;
    }

    &:hover {
      transform: scale(1.08);
    }

    .projectCard-image {
      min-height: 300px;
    }
  }

  &-image {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 270px;
    background-size: cover;
    transition: 500ms ease-in-out;
  }
  &-title {
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
  }
}
