@use "/src/styles/variables.scss" as v;

.projectCard {
  flex-basis: 25%;
  background-color: white;
  padding: 10px 10px 30px 10px;
  margin: 20px;
  min-width: 260px;
  box-shadow: 3px 10px 10px 5px v.$light-gray;
  transition: 500ms ease-in-out;
  cursor: pointer;

  @media only screen and (max-width: 460px) {
    min-width: 250px;
  }

  &:hover {
    transform: scale(1.08);
  }

  &_isSelected {
    transform: scale(1.08);
    min-width: 350px;

    @media only screen and (max-width: 460px) {
      transform: scale(1.06);
      min-width: 320px;
    }

    &:hover {
      transform: scale(1.08);
    }

    .projectCard-image {
      min-height: 300px;
    }
  }

  &_isImageContained {
    .projectCard-image {
      background-size: contain;
    }
  }

  &-image {
    background-position: center;
    background-repeat: no-repeat;
    min-height: 270px;
    background-size: cover;
    transition: 500ms ease-in-out;
  }
  &-title {
    font-size: 19px;
    font-weight: bold;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    width: max-content;
    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: -3px;
      content: "";
      display: block;
      height: 3px;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
      background-color: v.$light-gray;
    }
    &:hover::after {
      width: 100%;
      left: 4px;
    }
  }
}
