//main colors

$light-gray: #d3d3d3;

$dark-gray: #808080;

$primary-blue: rgba(214, 234, 255, 0.6);
$secondary-blue: rgb(179, 199, 229, 0.9);

// $secondary-blue: rgba(173, 197, 235, 0.502);

//font
$main-font-family: "Josefin Sans", sans-serif;

@mixin title-underline {
  position: relative;
  text-decoration: none;
  margin-bottom: 75px;
  padding: 0px 46px;
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    left: 0%;
    width: 100%;
    height: 4px;
    background-color: $dark-gray;
  }
}
