@import "./styles/variables.scss";

.app {
  background: linear-gradient(45deg, white 75%, $alice-blue 20%);
  font-family: $main-font-family;
  font-weight: 300;
}
.about-contact-footer-wrap {
  background: linear-gradient(345deg, $alice-blue 60%, white 20%);
}

.contact-footer-wrap {
  background: linear-gradient(369deg, $middle-blue 44%, transparent 20%);
}
// rgba(174, 197, 235, 0.5)
// * {
//   margin-bottom: 300px;
// }

.header {
  margin-bottom: 190px;
}

#about,
#contact {
  margin-bottom: 250px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 35px;
}
