@import "./styles/variables.scss";

.app {
  background-color: white;
  font-family: $main-font-family;
  font-weight: 300;
}

// * {
//   margin-bottom: 300px;
// }

.header,
// #projects,
#about,
#contact {
  margin-bottom: 200px;
}

.projects {
  margin-bottom: 150px;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 35px;
}
